<section class="container flex-1 m-auto grid">
  <div
    class="m-auto bg-secondary-background px-3 py-6 grid gap-3 sm:rounded-md sm:border sm:border-white/20"
  >
    <h1>Acerca de Nosotros</h1>
    <p>
      Bienvenidos a SuperHeroes, el rincón donde cada superhéroe encuentra su historia y
      donde los verdaderos fans de los cómics tienen la oportunidad de compartir su pasión
      por los héroes de todos los universos! En SuperHeroes, nos dedicamos a recopilar y
      mantener una base de datos actualizada sobre todos los superhéroes que existen,
      desde los más populares hasta los menos conocidos. Nuestro objetivo es proporcionar
      una plataforma interactiva y colaborativa donde los usuarios puedan agregar, editar
      o eliminar información sobre sus personajes favoritos.
    </p>

    <h2>Nuestra Misión</h2>
    <p>
      Fomentar una comunidad dinámica y apasionada por los superhéroes, donde cada miembro
      pueda contribuir con su conocimiento y amor por estos personajes emblemáticos.
      Creemos que cada héroe tiene una historia que merece ser contada y conocida.
    </p>

    <h2>¿Qué Ofrecemos?</h2>
    <ul class="list-disc pl-3">
      <li>
        <p>
          <b>Base de Datos Completa:</b> Acceso a una vasta colección de información sobre
          superhéroes de todos los universos y editoriales. Interactividad: Los usuarios
          pueden contribuir al crecimiento de la base de datos agregando nuevos héroes,
          actualizando datos existentes o eliminando información incorrecta.
        </p>
      </li>
      <li>
        <p>
          <b>Interactividad:</b> Los usuarios pueden contribuir al crecimiento de la base
          de datos agregando nuevos héroes, actualizando datos existentes o eliminando
          información incorrecta.
        </p>
      </li>
    </ul>
  </div>
</section>
